*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Poppins",sans-serif;
}

body{
background:#0b0b0b;
color:white;
}

/* NAVBAR */

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
background:rgba(0,0,0,0.6);
backdrop-filter:blur(10px);
}

.logo{
font-size:24px;
font-weight:600;
color:#ff7a18;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:30px;
}

nav ul li a{
text-decoration:none;
color:#ccc;
transition:0.3s;
}

nav ul li a:hover{
color:#ff7a18;
}

/* HERO SECTION (Aleena style) */

.hero{
display:flex;
align-items:center;
justify-content:center;
flex-direction:column;
height:90vh;
text-align:center;
padding:20px;
}

.hero-img{
width:180px;
border-radius:50%;
border:4px solid #ff7a18;
box-shadow:0 0 40px rgba(255,122,24,0.7);
margin-bottom:20px;
}

.hero h1{
font-size:48px;
margin-bottom:10px;
}

.hero span{
color:#ff7a18;
}

.hero p{
font-size:20px;
color:#aaa;
}

/* SECTIONS */

section{
padding:80px 12%;
text-align:center;
}

section h2{
font-size:34px;
margin-bottom:30px;
color:#ff7a18;
}

/* ABOUT */

#about p{
max-width:750px;
margin:auto;
color:#bbb;
line-height:1.7;
}

/* SKILLS */

.skills-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(230px,1fr));
gap:25px;
margin-top:30px;
}

.skill-card{
background:#141414;
padding:25px;
border-radius:15px;
transition:0.4s;
border:1px solid rgba(255,255,255,0.05);
}

.skill-card:hover{
transform:translateY(-10px);
box-shadow:0 0 25px rgba(255,122,24,0.6);
}

.skill-card h3{
color:#ff7a18;
margin-bottom:10px;
}

.skill-card p{
font-size:14px;
color:#aaa;
}

/* PROJECTS */

.project-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:30px;
}

.project-card{
background:#141414;
padding:20px;
border-radius:15px;
transition:0.3s;
}

.project-card:hover{
transform:scale(1.05);
box-shadow:0 0 25px rgba(255,122,24,0.6);
}

.project-card img{
width:100%;
border-radius:10px;
margin-bottom:15px;
}

/* CONTACT */

#contact p{
margin:10px 0;
color:#bbb;
}

#contact a{
color:#ff7a18;
text-decoration:none;
}

footer{
text-align:center;
padding:25px;
margin-top:50px;
background:#080808;
color:#777;
}
