body{

margin:0;
font-family:Arial;
background:#0a0a0a;
color:white;

}

nav{

display:flex;
justify-content:space-between;
padding:20px 10%;
background:#111;

}

nav ul{

display:flex;
list-style:none;

}

nav ul li{

margin-left:20px;

}

nav a{

color:white;
text-decoration:none;

}

.hero{

text-align:center;
padding:80px 20px;

}

.hero-img{

width:180px;
border-radius:50%;
border:4px solid #00c3ff;

}

.typing{

color:#00c3ff;
font-size:20px;

}

section{

padding:60px 10%;
text-align:center;

}

.skills-grid{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:20px;

}

.skill{

background:#111;
padding:20px;
border-radius:10px;
transition:0.3s;

}

.skill:hover{

background:#00c3ff;
color:black;

}

.project-card{

background:#111;
padding:20px;
border-radius:10px;
max-width:400px;
margin:auto;
transition:0.3s;

}

.project-card:hover{

transform:scale(1.05);

}

.project-card img{

width:100%;
border-radius:10px;

}

a{

color:#00c3ff;

}

footer{

text-align:center;
padding:20px;
background:#111;

}
